<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.LogisticsDao">

	

	<!-- 插入到数据库 -->
	<insert id="insertBean"		parameterType="com.entity.Logistics">
		insert into t_logistics (expressId,lcontent,ctime)
					values (#{expressId},#{lcontent},#{ctime})
	</insert>
	
	<!-- 根据ID删除数据库的记录 -->
	<delete id="deleteBean"	parameterType="int">
		delete from t_logistics	where id=#{id}	
	</delete>
	
	<!-- 根据ID更新数据库的记录 -->
	<update id="updateBean"	parameterType="com.entity.Logistics">
		update	t_logistics 
		<set>
			<trim suffixOverrides=",">
				<if test="expressId !=null">
					expressId=#{expressId},
				</if>
				<if test="lcontent !=null">
					lcontent=#{lcontent},
				</if>
				<if test="ctime !=null">
					ctime=#{ctime}
				</if>
				
			</trim>
		</set>
		where 
			id=#{id} 
 
	</update>
	

	
	
	<select id="queryData" parameterType="string" resultType="com.entity.Logistics"   >
        ${value}
    </select>
	
	
</mapper>







